---
import PageLayout from "../layout/page-layout.astro";
import PokomanSearch from "../components/pokoman-search";
import PokomanList from "../components/pokoman-list";
---

<PageLayout title="Pokoman" override="repeat-bg">
  <h1 class="w-full">Pokoman</h1>

  <div class="menu h-full p-4 bg-base-200 text-base-content">
    <PokomanSearch client:idle />
    <PokomanList loadMax={2} increment={2} client:load />
  </div>

  <p class="text-center">Copyright &copy; Francis Joaquin 2023</p>
</PageLayout>
