---
const { data = {} } = Astro.props;
---

<li class="stat flex-auto max-w-[160px]">
  <div class="stat-figure tooltip text-secondary" data-tip={data.tooltip || ""}>
    <details>
      <summary class="cursor-pointer"
        ><div class="pointer-events-none"><slot /></div></summary
      >
      <div class="toast toast-center z-10">
        <div class="alert alert-info">
          <span>{data.toast || data.tooltip || data.stat || ""}</span>
        </div>
      </div>
    </details>
  </div>

  <div class="stat-title">{data.stat || ""}</div>
  <div class="stat-value">{data.value || ""}</div>
</li>
